body {
  margin: 0;
  font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.layout-effect {
  max-height: 200px;
  overflow: auto;
  padding: 20px;
}

.layout-effect__item {
  padding: 10px;
  padding-bottom: 20px;
  border: solid 1px black;
}
